body {
    background:  #eaecee;
}

h1, h2, h3, h4, h5, h6 {
    color:  #e74c3c;
}

p, li {
    color:  #85c1e9;
}

a {
    color:  #d35400;
}

img {
    width: 190px;
    height: 110px;
}

/* specifying custom class */
p.custom__para {
    color: #fe2aed;
    font-weight: bold;
}

.list__item {
    background-color: #fefefe;
    color: #e74c3c;
}

.list__item__block {
    border-bottom: 2px solid #e74c3c;
}

/* specifying custom id */
#img__box {
    border: 3px solid #d35400;
}

#img__left {
    float: left;
}

#img__right {
    float: right;
}