<div class="row">
    <div class="col-8 offset-2">
        <h4> Crud Operations : User Data </h4>

        <hr />

        <table class="table table-bordered">
            <tr>
                <th colspan="4">User List</th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>Email Address</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <hr />

        <button type="button" class="btn btn-primary"> add new user </button>

        <div class="mt-4">

            <h4>Add New User</h4>
            
            <form>
                <div class="row mb-3">
                    <label class="col-4"> Full Name </label>
                    <div class="col-6">
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-4"> Email Address </label>
                    <div class="col-6">
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6 offset-3">
                        <button type="submit" class="btn btn-primary"> add user </button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>