<div class="row">
    <div class="col-6">
        <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm.value)">
            
            <div class="row mb-3">
                <label class="col-4 col-form-label text-end"> Full Name </label>
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="ex., John Paul" name="fullname" [(ngModel)]="user.fullname" #fullname="ngModel" [ngClass]="{'is-invalid': userForm.submitted && fullname.invalid}" required />
                    <div class="invalid-feedback" *ngIf="userForm.submitted && fullname.invalid">
                        <p *ngIf="fullname.errors.required"> fullname is mandatory </p>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-4 col-form-label text-end"> Email Address </label>
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="ex., john@gmail.com" name="emailaddress" [(ngModel)]="user.emailaddress" #emailaddress="ngModel" [ngClass]="{'is-invalid': userForm.submitted && emailaddress.invalid}" email required />
                    <div class="invalid-feedback" *ngIf="userForm.submitted && emailaddress.invalid">
                        <p *ngIf="emailaddress.errors.required"> emailaddress is mandatory </p>
                    </div>
                    <div class="invalid-feedback" *ngIf="userForm.submitted && emailaddress.invalid">
                        <p *ngIf="emailaddress.errors.email"> emailaddress should follow a basic criteria </p>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-4 col-form-label text-end"> Password </label>
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="ex., j0hN@3664" name="password" [(ngModel)]="user.password" #password="ngModel" [ngClass]="{'is-invalid': userForm.submitted && password.invalid}" required minlength="5" />
                    <div class="invalid-feedback" *ngIf="userForm.submitted && password.invalid">
                        <p *ngIf="password.errors.required"> password is mandatory </p>
                    </div>
                    <div class="invalid-feedback" *ngIf="userForm.submitted && password.invalid">
                        <p *ngIf="password.errors.minlength"> password should be min 5 chars length </p>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-4 col-form-label text-end"> Hobbies </label>
                <div class="col-6">
                    <select class="form-control" name="hobbies" [(ngModel)]="user.hobbies">
                        <option *ngFor="let hobby of hobbies" [value]="hobby">{{hobby}}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-6 offset-3">
                    <button type="submit" class="btn btn-primary"> submit </button>
                </div>
            </div>

        </form>
    </div>
</div>