<div class="row">
    <div class="col-6 offse-3">
        <table class="table table-bordered">
            <tr>
                <th>Property Value</th>
                <th>Format</th>
                <th>Result</th>
            </tr>

            <tr>
                <td>{{fullName}}</td>
                <td>Uppercase</td>
                <td>{{fullName | uppercase}}</td>
            </tr>

            <tr>
                <td>{{emailAddress}}</td>
                <td>lowercase</td>
                <td>{{emailAddress | lowercase}}</td>
            </tr>

            <tr>
                <td>{{arr1}}</td>
                <td>slice</td>
                <td>{{arr1 | slice:1:3}}</td>
            </tr>

            <tr>
                <td>{{Pi}}</td>
                <td>number</td>
                <td>{{Pi | number:'1.0-2'}}</td>
            </tr>

            <tr>
                <td>{{person}}</td>
                <td>json</td>
                <td>{{person | json}}</td>
            </tr>

            <tr>
                <td>{{salary}}</td>
                <td>currency</td>
                <td>{{salary | currency:'EUR'}}</td>
            </tr>

            <tr>
                <td>{{getDate}}</td>
                <td>date</td>
                <td>{{getDate | date:'medium'}}</td>
            </tr>

            <tr>
                <td>{{custName}}</td>
                <td>capitalize</td>
                <td>{{custName | capitalize}}</td>
            </tr>
        </table>
    </div>
</div>